## Metin operasyonları

In [71]:
import pandas as pd
import numpy as np

### pandas ile string metodlar

In [72]:
isim = pd.Series(["99","Gandalf","aragorn","Legolas","frodo"])

In [73]:
isim

0         99
1    Gandalf
2    aragorn
3    Legolas
4      frodo
dtype: object

In [74]:
## Pythondaki string metodlarıyla neredeyse hiç bir farkı yok sadece başına str getirip metodu uyguluyosunuz

In [75]:
isim.str.upper()

0         99
1    GANDALF
2    ARAGORN
3    LEGOLAS
4      FRODO
dtype: object

In [76]:
isim.str.lower()

0         99
1    gandalf
2    aragorn
3    legolas
4      frodo
dtype: object

In [77]:
isim.str.capitalize() # capitalize sadece başını büyük yapıyor.

0         99
1    Gandalf
2    Aragorn
3    Legolas
4      Frodo
dtype: object

In [78]:
isim.str.title() # Title ile capitalize farkı title her kelimenin başını büyük yapar ama zaten isimler tek kelime olduğu için fark yok

0         99
1    Gandalf
2    Aragorn
3    Legolas
4      Frodo
dtype: object

In [79]:
seri = ["Churchill,Hirohito,Roosevelt,Stalin","ENG,JP,USA,USSR"]

In [80]:
seri

['Churchill,Hirohito,Roosevelt,Stalin', 'ENG,JP,USA,USSR']

In [81]:
ww2 = pd.Series(seri)

In [82]:
ww2

0    Churchill,Hirohito,Roosevelt,Stalin
1                        ENG,JP,USA,USSR
dtype: object

In [83]:
len(ww2)

2

In [84]:
type(ww2)

pandas.core.series.Series

In [85]:
ww2 = ww2.str.split(",",expand=True) # EXPAND TRUE DATAFRAME HALİNE GETİRDİ SERİYİ

In [86]:
type(ww2)

pandas.core.frame.DataFrame

### String düzenleme

In [87]:
temiz = pd.Series(["Gandalf the wizard",
                   "aragorn son of arathorn ",
                   "Lego#las sindarin",
                   "Frodo baggins "])

In [88]:
temiz          # gördüğünüz gibi seri düzgün durmuyor eşit sırada değiller

0          Gandalf the wizard
1    aragorn son of arathorn
2           Lego#las sindarin
3              Frodo baggins
dtype: object

In [89]:
temiz.str.strip() # sağ taraflarındaki boşlukları sildi şuan

0         Gandalf the wizard
1    aragorn son of arathorn
2          Lego#las sindarin
3              Frodo baggins
dtype: object

In [90]:
# kelimenin içindeki yanlış yazılan # ifadesi var onu nasıl kaldırırız ?

temiz.str.replace("#","")

0          Gandalf the wizard
1    aragorn son of arathorn
2            Legolas sindarin
3              Frodo baggins
dtype: object

In [91]:
temiz.str.strip().str.replace("#","").str.title() # böyle tek satırda da yazılabilir

0         Gandalf The Wizard
1    Aragorn Son Of Arathorn
2           Legolas Sindarin
3              Frodo Baggins
dtype: object

In [92]:
# bu durumu bir de fonksiyonla birlikte yazalım

def temizlik(temiz):
    
    temiz = temiz.strip().replace("#","").title()

    return temiz

In [93]:
temiz # ilk hali

0          Gandalf the wizard
1    aragorn son of arathorn
2           Lego#las sindarin
3              Frodo baggins
dtype: object

In [94]:
temiz.apply(temizlik)

0         Gandalf The Wizard
1    Aragorn Son Of Arathorn
2           Legolas Sindarin
3              Frodo Baggins
dtype: object

In [95]:
np.vectorize(temizlik)(temiz) # aslında aynı işlemi böyle de yaptık ama veri türü farklı çıkıyor

array(['Gandalf The Wizard', 'Aragorn Son Of Arathorn',
       'Legolas Sindarin', 'Frodo Baggins'], dtype='<U23')

# Tarih operasyonları

## datetime

In [96]:
from datetime import datetime

In [97]:
year = 1920
month = 4
day = 23
hour = 14
minute = 15
second = 10

In [98]:
Birinci_meclis = datetime(year=year,month=month,day=day)

In [99]:
Birinci_meclis

datetime.datetime(1920, 4, 23, 0, 0)

In [100]:
TBMM = datetime(year,month,day,hour,minute,second)

In [101]:
TBMM

datetime.datetime(1920, 4, 23, 14, 15, 10)

In [102]:
TBMM.year

1920

In [103]:
TBMM.hour

14

## PANDAS İLE TARİH OPERASYONLARI

In [104]:
tarih = pd.Series(["23/04/1920","Oct 29, 1923","1924-03-03"])

In [105]:
tarih

0      23/04/1920
1    Oct 29, 1923
2      1924-03-03
dtype: object

In [106]:
# pd.to_datetime(tarih) hata alıyor anlamadım sebebini

In [107]:
eu_date = "01-11-1928" # eu da önce gün sonra ay gelir anca us de önce ay sonra gün gelir bunu karıştırmamak için;

In [108]:
pd.to_datetime(eu_date) #eu formatı amerikan formatına çevirdi

Timestamp('1928-01-11 00:00:00')

In [109]:
pd.to_datetime(eu_date,dayfirst=True) # eski haline geldi

Timestamp('1928-11-01 00:00:00')

## tarihleri formatlamak

In [110]:
tarih_1 = "23rd of Aug 1923"

In [111]:
pd.to_datetime(tarih_1)

Timestamp('1923-08-23 00:00:00')

In [112]:
tarih_2 = "Aug 30th 1922"

In [113]:
pd.to_datetime(tarih_2)

Timestamp('1922-08-30 00:00:00')

In [114]:
tarih_3 = "9//Sep/-/1922"

In [115]:
pd.to_datetime(tarih_3,format="%d//%b/-/%Y")  # bu şekilde de yapması gereken formatı da gösterebiliriz

Timestamp('1922-09-09 00:00:00')

## Gerçek verilerde işlemler

In [116]:
df = pd.read_excel("müteahhit.xlsx")
df

          tarih  yeni müteahhit sayısı
0    2012-01-01                     10
1    2012-01-02                      1
2    2012-01-03                     24
3    2012-01-04                      3
4    2012-01-05                     30
...         ...                    ...
1456 2015-12-27                     37
1457 2015-12-28                     37
1458 2015-12-29                     80
1459 2015-12-30                     31
1460 2015-12-31                     80

[1461 rows x 2 columns]

In [117]:
type(df)

pandas.core.frame.DataFrame

In [118]:
type(df["tarih"])

pandas.core.series.Series

In [119]:
type(df["tarih"].iloc[457])

pandas._libs.tslibs.timestamps.Timestamp

In [120]:
df.set_index("tarih")

            yeni müteahhit sayısı
tarih
2012-01-01                     10
2012-01-02                      1
2012-01-03                     24
2012-01-04                      3
2012-01-05                     30
...                           ...
2015-12-27                     37
2015-12-28                     37
2015-12-29                     80
2015-12-30                     31
2015-12-31                     80

[1461 rows x 1 columns]

### .dt modülü

In [121]:
df["tarih"].dt.day # hangi indexdeki tarihin hangi güne denk geldiğini gösteriyor

0        1
1        2
2        3
3        4
4        5
        ..
1456    27
1457    28
1458    29
1459    30
1460    31
Name: tarih, Length: 1461, dtype: int32

In [122]:
df["tarih"].dt.year

0       2012
1       2012
2       2012
3       2012
4       2012
        ...
1456    2015
1457    2015
1458    2015
1459    2015
1460    2015
Name: tarih, Length: 1461, dtype: int32

In [123]:
df["tarih"].dt.is_leap_year # leap year şubat ayının 1 gün fazla olduğu yıllar

0        True
1        True
2        True
3        True
4        True
        ...
1456    False
1457    False
1458    False
1459    False
1460    False
Name: tarih, Length: 1461, dtype: bool

## .resample()

In [124]:
# Pandasın kendi sitesinde resample içinde hangi harflerin nelere denk geldiği hakkında daha çok bilgi sahibi olabilirsiniz.

In [125]:
df.set_index("tarih",inplace=True)

In [128]:
df.resample(rule="A").mean() # her bir yılın toplamlarının ortalamasını verdi (A : yıl yıl işlem yap demek indexin tarih olması önemli)

C:\Users\baki5\AppData\Local\Temp\ipykernel_7512\716721203.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.resample(rule="A").mean() # her bir yılın toplamlarının ortalamasını verdi (A : yıl yıl işlem yap demek indexin tarih olması önemli)

            yeni müteahhit sayısı
tarih
2012-12-31              35.114754
2013-12-31              47.887671
2014-12-31              54.326027
2015-12-31              58.030137

In [130]:
df.resample(rule="A").max()

C:\Users\baki5\AppData\Local\Temp\ipykernel_7512\3160257068.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.resample(rule="A").max()

            yeni müteahhit sayısı
tarih
2012-12-31                     85
2013-12-31                    104
2014-12-31                    114
2015-12-31                    122

In [132]:
df.resample(rule="SM").mean() # bu da her yılın sonu ve ortasını koyuyor.

C:\Users\baki5\AppData\Local\Temp\ipykernel_7512\1824056224.py:1: FutureWarning: 'SM' is deprecated and will be removed in a future version, please use 'SME' instead.
  df.resample(rule="SM").mean() # bu da her yılın sonu ve ortasını koyuyor.

            yeni müteahhit sayısı
tarih
2011-12-31              17.357143
2012-01-15              28.000000
2012-01-31              19.266667
2012-02-15              25.500000
2012-02-29              30.866667
...                           ...
2015-10-31              68.000000
2015-11-15              55.933333
2015-11-30              50.800000
2015-12-15              55.625000
2015-12-31              80.000000

[97 rows x 1 columns]